<div class="flex flex-col md:flex-row items-end gap-6 my-6">

  <div class="flex flex-col gap-2 flex-1 w-full relative pb-10">
    <label class="font-semibold text-slate-600 text-sm">Nome do Produto</label>
    <input pInputText [formField]="formPerfume.nome" placeholder="Ex: Natura Kaiak" class="block w-full h-11" />

    @if (formPerfume.nome().touched() && formPerfume.nome().invalid()) {
      <ul class="text-xs text-red-500 font-medium absolute left-0 bottom-1 list-none p-0 m-0">
        @for (error of formPerfume.nome().errors(); track error) {
          <li>{{ error.message }}</li>
        }
      </ul>
    }
  </div>

  <div class="flex flex-col gap-2 w-full md:w-52 relative pb-10">
    <label class="font-semibold text-slate-600 text-sm">Preço</label>
    <input pInputText type="number" [formField]="formPerfume.valor" placeholder="0.00" class="block w-full h-11" />

    @if (formPerfume.valor().touched() && formPerfume.valor().invalid()) {
      <ul class="text-xs text-red-500 font-medium absolute left-0 bottom-1 list-none p-0 m-0 whitespace-nowrap">
        @for (error of formPerfume.valor().errors(); track error) {
          <li>{{ error.message }}</li>
        }
      </ul>
    }
  </div>

  <div class="flex flex-col items-center gap-2 px-2 pb-10">
    <label class="font-semibold text-slate-600 text-sm">Em Estoque</label>
    <p-toggleswitch [formField]="formPerfume.ativo" class="block" />
  </div>

  <div class="flex gap-2 pb-10">
    <p-button [label]="idSendoEditado() > 0 ? 'Salvar' : 'Cadastrar'"
              severity="success"
              [disabled]="formInvalido()"
              class="block h-11"
              (click)="submeter()" />

    @if (idSendoEditado() > 0) {
      <p-button label="Cancelar" severity="secondary" [text]="true" class="block h-11" (click)="voltar()" />
    }
  </div>
</div>
